<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Banging your head against a wall burns 150 calorie an hour</string>
		<key>category</key>
		<string>Fun</string>
		<key>background</key>
		<string>smiley</string>
	</dict>
	<dict>
		<key>text</key>
		<string>During your life span, you will produce enough siliva to fill two swimming pools</string>
		<key>category</key>
		<string>Fun</string>
		<key>background</key>
		<string>smiley</string>
	</dict>
</array>
</plist>
