<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Abel-Regular</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#92CD00</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>1@1x.png</string>
		<key>font</key>
		<string>Esphimere-Light</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#000000</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Esphimere-Light</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#CC0000</string>
		<key>fcolor</key>
		<string>#FFCC00</string>
	</dict>
	<dict>
		<key>background</key>
		<string>2@1x.png</string>
		<key>font</key>
		<string>Gin-Regular</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#000000</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Gin-Regular</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#FFCC00</string>
		<key>fcolor</key>
		<string>#CC0000</string>
	</dict>
	<dict>
		<key>background</key>
		<string>3@1x.png</string>
		<key>font</key>
		<string>Gin-Oblique</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#515487</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Gin-Oblique</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#D1CAB0</string>
		<key>fcolor</key>
		<string>#AA0078</string>
	</dict>
	<dict>
		<key>background</key>
		<string>4@1x.png</string>
		<key>font</key>
		<string>Goodline-Free</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#4C2D4D</string>
		<key>fcolor</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Goodline-Free</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#FFFFFF</string>
		<key>fcolor</key>
		<string>#990099</string>
	</dict>
	<dict>
		<key>background</key>
		<string>5@1x.png</string>
		<key>font</key>
		<string>Harabara</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#B0ECFA</string>
		<key>fcolor</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>Harabara</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#D3649F</string>
		<key>fcolor</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>background</key>
		<string>6@1x.png</string>
		<key>font</key>
		<string>InfiniteStroke</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#FAD1D0</string>
		<key>fcolor</key>
		<string>#C0B8C2</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>InfiniteStroke</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#FAD1D0</string>
		<key>fcolor</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>background</key>
		<string>7@1x.png</string>
		<key>font</key>
		<string>KGPrimaryPenmanship</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#856FB1</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>KGPrimaryPenmanship</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#CCCC99</string>
		<key>fcolor</key>
		<string>#003366</string>
	</dict>
	<dict>
		<key>background</key>
		<string>8@1x.png</string>
		<key>font</key>
		<string>TrajanPro-Bold</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#9E9E9E</string>
		<key>fcolor</key>
		<string>#FFFFFF</string>
	</dict>
	<dict>
		<key>background</key>
		<string>none</string>
		<key>font</key>
		<string>TrajanPro-Bold</string>
		<key>ttype</key>
		<string>A</string>
		<key>bcolor</key>
		<string>#7A4012</string>
		<key>fcolor</key>
		<string>#DFDAC7</string>
	</dict>
	<dict>
		<key>background</key>
		<string>9@1x.png</string>
		<key>font</key>
		<string>TrajanPro-Regular</string>
		<key>ttype</key>
		<string>B</string>
		<key>bcolor</key>
		<string>#FFD2FC</string>
		<key>fcolor</key>
		<string>#040F01</string>
	</dict>
</array>
</plist>
